$primary-100: #4B2C0B;
$primary-200: #654625;
$primary-300: #7E5F3E;
$primary-400: #987958;
$primary-500: #B19271;
$primary-600: #CAAB8A;
$primary-700: #E4C5A4;
$primary-800: #FEDFBE;
$primary-900: #FFF8D7;

$primary-color: $primary-200;
$background-color: $primary-900;
