<div class="page-title">
  <h1> St. Mary's Ukrainian Orthodox Church</h1>
</div>
{{img-box src="StMarysChurch.png"}}
<p>
At the turn of the 20 th Century a great influx of pioneers settled in rural Saskatchewan. Pioneers
arrived in groups and chose varying districts to begin their homesteads. The initial objective for
the pioneers was to settle on these homesteads and, with the assistance of fellow pioneers, to
develop a community.
</p>
<p>
They brought with them a strong work ethic and above all a strong religious conviction. After
about a decade the new community always identified the need to establish a church. The
church was to become a centre for worship and a place for the community to socialize. Along
with each church, a cemetery was established to serve the future needs of the district pioneers.
</p>
<p>
As the community pioneers passed away and their descendants moved away from the original
settlement, the challenge of maintaining these cemeteries now falls to a very few individuals.
</p>
<p>
By using the internet and new digital technologies, we can create a digital archive of the history
of our ancestors and hopefully share this information with those who no longer live in the area.
</p>
{{outlet}}
